
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Gabarito:wght@400..900&family=Outfit:wght@100..900&display=swap');

* {

    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
    width: 100%;
}

/* -----------[CONTACT]----------- */
.contact {/*---container----*/
    height: 5%;
    width: 100%;
    background: #432323;
    color: white;
    font-family: "gabarito";
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.contact>div {/*---child----*/
    margin: 0.5rem;
}

@media (max-width: 768px) {/*---mediaquery----*/
    .contact {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0.5rem;

    }

    .contact>div {
        margin: 0rem;
    }
}

/* ---------------------------------- */

.section-1 { /*------container---------*/
    width: 95%;
    height: 90vh;
    border-radius: 20px;
    margin: auto;
    margin-top: 2%;
    overflow: hidden;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    /*.........................................*/
    .navbar { /*------navbar-container-------*/
        height: 10%;
        width: 97%;
        margin: auto;
        margin-top: 1%;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        background: #fff;
    }
    .logo { /*----------logo-container---------*/
        display: flex;
        font-family: "anta";
    }
    .logo-image { /*--------logo-image--------*/
        width: 5rem;
        background-image: url("logo.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150%;
    }
    .logo-text {/*--------logo-text*--------*/
        font-size: 1.2rem;
        line-height: 20px;
        margin: auto;
    }
    .quote { /*----quote container---*/
        background: #FEBA17;
        height: 60%;
        width: 8%;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 10px;
        color: #fff;
        font-family: "gabarito";
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .quote:hover{
        background: #e2a415;
        cursor: pointer;
    }
    .sections { /*-----page section name container */
        font-family: "gabarito";
        width: 50%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;                 
        justify-content: center;       
        align-items: center;          
    }
    .sections > ul { /*------- sections names -------*/
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;                   
    }
    /*.........................................*/
    .content-1{
        height: 100%;
        width: 97%;
        margin: auto;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        font-family: "Outfit";
        color: white;
        padding-left: 5%;
    }
    .text-1-1{
        background: rgba(255, 255, 255, 0.193);
        align-self: flex-start;
        padding: 10px;
        margin-top: 5%;
        border-radius: 10px;
    }
    .text-1-2{
        margin-top: 2rem;
        font-size: 4rem;
        font-weight: 500;
    }
    .text-1-3{
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 1.5rem;
    }

    .text-1-4{
        background: #FEBA17;
        margin-top: 2rem;
        align-self: flex-start;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 10px;
    }

.text-1-4:hover{
        background: #e2a415;
        cursor: pointer;
    }
